* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3f186b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.birthday-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.birthday-card h2 {
    margin-bottom: 20px;
}

.birthday-card ul {
    list-style: none;
    margin-bottom: 20px;
}

.birthday-card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.birthday-card ul li img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthday-card ul li .age {
    font-weight: bold;
    color: gray;
}

.birthday-card button {
    background-color: #f06292;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.birthday-card button:hover {
    background-color: #ec407a;
}
